.CS_GUIEN_sidebar{
	width:152px;
	margin-bottom:10px;
	border: none;
}

.CS_GUIEN_sidebar{
	width:152px;
	border: none;
}

.CS_GUIEN_sidebartop div.topleft, .CS_GUIEN_sidebartop div.topcenter, .CS_GUIEN_sidebartop div.topright{
	float:left;
	height:5px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.CS_GUIEN_sidebartop div.topleft{
	width:5px;
	background-image: url(../box-corner-top-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.CS_GUIEN_sidebartop div.topcenter{
	width:142px;
	background:#FFFFFF;
	border-top:1px solid #CCCCCC;
}

.CS_GUIEN_sidebartop div.topright{
	width:5px;
	background-image: url(../box-corner-top-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.CS_GUIEN_sidebarbottom div.bottomleft, .CS_GUIEN_sidebarbottom div.bottomcenter, .CS_GUIEN_sidebarbottom div.bottomright{
	float:left;
	height:7px;
	margin:0px;
	padding:0px;
	line-height:0px;
}

.CS_GUIEN_sidebarbottom div.bottomleft{
	width:5px;
	background-image: url(../box-corner-bottom-left.gif);
	background-repeat:no-repeat;
	background-position:right;
}

.CS_GUIEN_sidebarbottom div.bottomcenter{
	width:140px;
	background:#FFFFFF;
	background-image: url(../box-bottom.gif);
	background-repeat:repeat-x;
}

.CS_GUIEN_sidebarbottom div.bottomright{
	width:7px;
	background-image: url(../box-corner-bottom-right.gif);
	background-repeat:no-repeat;
	background-position:right;
}


.CS_GUIEN_sidebartitle, .CS_GUIEN_sidebarbody{
	background-color:#FFFFFF;
	border-left:1px solid #CCCCCC;
	background-image: url(../box-right.gif);
	background-repeat:repeat-y;
	background-position:right;
	margin:0px;
	padding-left:5px;
	padding-right:7px;
	padding-bottom:2px;
	padding-top:0px;
}


.CS_GUIEN_sidebarcontents {
	width:139px;
	overflow:auto;
	list-style-position: inside;
}

.CS_GUIEN_sidebartitle div.title{
	text-align:center;
	width:127px;
	font-family:Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#666666;
}

.CS_GUIEN_sidebartitle div.collapse{
	float:right;
	text-align:right;
}

.CS_GUIEN_sidebartitle div.divider{
	background-color:#666666;
	width:100%;
	margin-top:2px;
}

.CS_GUIEN_sidebarbody p{
	margin:0px;
	padding:0px;
	width:100%;
}

.CS_GUIEN_sidebarbody form{
	margin:0px;
	padding:0px;
}

.CS_GUIEN_sidebarbody p.console{

}

.CS_GUIEN_sidebarbody *{
	margin:0px;
	padding:0px;
}

.CS_GUIEN_sidebarspacer{
	width:1px;
	height:1px;
	border:0;
}

.CS_GUIEN_sidebarscroll {
	height:60px;
	overflow:auto;
}

#favoritessidebar{
	border-bottom:1px solid #AAAAAA;
	padding-bottom:4px;
	margin-bottom:4px;
}

#recentlyvisitedsidebar{
	width:139px;
}
