/*
  This is the stylesheet for the comm module's
  general layout.
  
  For convinience, note that the indentation in this file
  (roughly) mirrors the HTML structure of a comm page.
  Also note that HTML tags are in ALL CAPS and class names
  are in small caps.
*/

/* The TABLE everything in a comm page is in */
TABLE.comm_main {
	width: 100%;
	height:100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

/* The left column: this contains the navigation
console and any other mini-reports */
TD.comm_main_left {
	vertical-align: top;
	width: 152px;
}

DIV.comm_main_left {
	vertical-align: top;
	width: 152px;
}

/* The right column: this usually contains the bulk
of the page contents. */
TD.comm_main_right {
	vertical-align: top;
}

.subtype356 /*blog*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: 0px 0px;
}

.subtype3030202 /*community*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: -16px 0px;
}

.subtype3030002 /*community volume*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: -16px 0px;
}

.subtype123475 /*faq*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: -32px 0px;
}

.subtype123469 /*forum*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: -48px 0px;
}

.subtype5573 /*wiki*/
{
	background: url('../smalliconmap.png') no-repeat;
	background-position: -64px 0px;
}

.skye-ListWidget-FlexTable {
	width: 100% !important;
}