/********************** STANDARD JOURNAL STYLE *******************/
/* This Stylesheet is used to control the Standard Journal Style */
/*****************************************************************/

/*BODY {
	background-color: #FFFFFF;
}*/

/* These replace the LINK, VLINK and ALINK attributes of BODY */
/*A:link    { color: #003366 }*/
/*A:visited { color: #660033 }*/
/*A:active  { color: #3300FF }*/

/********************** DEFAULT TABLE STYLE *******************/
/* These Table and Table-related tags are the default styles. */
/* The "class" defintions override and augment these ones.    */
/**************************************************************/

/*TABLE {*/
/*	width: 100%; */
/*	border-collapse: collapse;*/
/*	border-style: none;*/
/*	border-width: 0;*/
/*	padding: 0;*/
/*	margin: 0;*/
/*	font: 9pt Arial,Helvetica,Sans-serif;*/
/*}*/

/*TD {*/
/*	padding: 0;*/
/*}*/

/*************************************************************/
/******************** STRUCTURAL STYLES **********************/
/*************************************************************/

/*************************************************************/
/*************** BROWSE VIEW: Structural Classes *************/
/*************************************************************/

/************ Browse View: Main Structural Classes ***********/

TABLE.main {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}

	TD.main_content {
		width: 100%;
		vertical-align: top;
		margin: 0px 0px 0px 0px;
		border-collapse: collapse;
	}

TABLE.main_reports {
	width: 152px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	border-collapse: collapse;
}

	TD.main_reports {
		width: 152px;
		padding: 0px 0px 0px 0px;
		vertical-align: top;
	}

/*********** Browse View: Console Structural Classes ********/

TABLE.shadow1 {
	text-align: center;
	width:	100%;
	border: none;
}

TD.shadow1 {
	width: 100%;
}

TABLE.shadow2 {
	width: 100%;
	border: none;
}

TD.shadow2 {
}

TABLE.shadowheader {
	background-repeat: repeat-x;
	width: 100%;
	background-image: url("../../../fon-table-header-gray.gif");
	border: none;
}

TD.shadowheader {
	width: 100%;
	vertical-align: bottom;
	text-align: left;
}

TD.shadowheader_inbetween {
	background-repeat: repeat-x;
	width: 100%;
	background-image: url("../../../fon-table-header-gray.gif");
}

TD.shadowpre3 {
}

TABLE.shadow3 {
	width: 100%;
	border: 0;
}

TD.shadowpost3 {
	background-repeat: repeat-y;
	width: 2;
	background-image: url("../../../form-shadow-right.gif");
}

DIV.shadowpost3 {
	border: none;
	width: 2;
	height: 2;
	background-image: url("../../../form-shadow-right.gif");
}

TD.shadowpostdiv {
	width: 100%;
	background-image: url("../../../form-shadow-bottom.gif");
}

TD.shadowpostdiv_inbetween {
	width: 100%;
	/* background-image: url("../../../form-shadow-bottom.gif"); */
	height: 1;
}

TD.shadowpostdiv2 {
	height: 2;
	vertical-align:	top;
	width: 100%;
	background-image: url("../../../block-shadow-bottom-right.gif");
}

/*********** Browse View: Console Structural Classes ********/

TABLE.console {
}

	TD.console_header {
	}

	TD.console_tagline {
		font-style: italic;
	}

	TD.console_metadata {
		/* white-space: nowrap; */
	}

	TD.console_action {
		/* white-space: nowrap;	*/
		text-transform: capitalize;
	}

		IMG.console_action_img {
			width: 16px;
			height: 16px;
			border-width: 0;
			background-color: transparent;
			vertical-align: middle;
		}

		IMG.console_action_img_rss {
			/*width: 18px;
			height: 7px;*/
			border-width: 0;
			background-color: transparent;
			vertical-align: middle;
		}

/**** Browse View: Mini-reports Structural Classes ****/

TABLE.minireport {
}

	TD.minireport_header {
	}

	TD.minireport_body {
	}

		UL.minireport_list {
			text-align: left;
			list-style-image: url("../current.gif");
			/* margin: 5px 0px 0px 23px; */
			margin: 0px;
			padding: 0px 0px 0px 23px;
		}

			LI.minireport_item {
				padding: 0px 0px 0px 0px;
			}

		INPUT.minireport_searchbox {
			width: 95px;
		}

/********* Browse View: Child Structural Classes *********/

TABLE.child_list {
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
}

	TD.child_list_header {
		padding: 0px 0px 10px 3px;
	}

		SPAN.child_list_header {
			font-size: 115%;
			font-weight: bold;
		}
	
		SPAN.child_list_header_view {
			font-size: 115%;
			padding-left: 5pt
		}

		DIV.child_list_action {
			white-space: nowrap;
			display: inline;
			margin-left: 5pt;
		}

			SPAN.child_list_action_control {
				padding-right: 0pt;
			}

	TABLE.sort_banner {
		width: 100%;
	}


	TD.entry_seperator {
		width: 100%;
		border-bottom: 1px solid #DEDEDE;
		padding: 0px;
		border-collapse: collapse;
	}

	TABLE.child_empty {
		width: 100%;
	}

	TABLE.child {
		width: 100%;
		margin: 0px 0pt 5px 0pt;
	}

		TD.child_header_left {
			width: 60%;
			vertical-align: top;
			white-space: nowrap;
		}

			DIV.child_byline {
			}

		TD.child_header_right {
			width: 40%;
			vertical-align: top;
			text-align: right;
		}

			TABLE.child_rating {
				width: 100%;
				text-align: right;
				color: #808080;
				white-space: nowrap;
			}

		TD.child_body {
			padding-top: 5pt;
		}

		TD.child_footer {
			padding-top: 5pt;
		}

			DIV.child_action {
				margin-top: 1pt;
				white-space: nowrap;
				float: left;
				padding-right: 3pt;
			}

				SPAN.child_action_control {
					padding-right: 0pt;
				}

					IMG.child_action_img {
						width: 16px;
						height: 16px;
						border-width: 0;
						background-color: transparent;
						vertical-align: top;
					}

			SPAN.child_function_menu {
				margin-left: 1pt;
			}

		TD.child_attachments {
		}

			TABLE.child_attachments {
				width: 100%;
				margin: 0px 0px 0px -6px;
			}
			
				TD.child_attachments_header {
					font-style: italic;
					width: 100%;
				}

				TD.child_attachments_item {
					/*width: 1px;
					white-space: nowrap; */
					vertical-align: bottom;

				}

				TD.child_attachments_action {
					padding-left: 6pt;
					white-space: nowrap;
					vertical-align: bottom;
						
				}

/*************************************************************/
/*************** CREATE VIEW: Structural Classes *************/
/*************************************************************/

TABLE.wizard_page {
}

	TD.wizard_page_header {
	}
	
/************ Create View: Main Structural Classes ***********/

TABLE.main_in {
	padding: 0px;
}

	TD.main_in_header {               
	}
	
	TABLE.main_in_input_list {
		padding: 0px;
	}

		TD.main_in_label {
		}
	
		TD.main_in_input {
                   text-align: left;
		}
		
	TABLE.main_in_subheader {
		border: none;
		width: 100%;
		border-collapse: collapse;
	}
	
	TD.main_in_subheader {
		padding: 0pt 0pt 0pt 0pt;
		width: 100%;
	}
	
	TR.main_in_subheader {
        }
	
	TH.main_in_subheadername {
		background-repeat: repeat-x;
		background-image: url("../../../fon-table-header-blue.gif");
	}
	
	TD.main_in_cellDivider {
		background-repeat: no-repeat;
		background-image: url("../../../table-header-divider.gif");
	}
	
	TR.horizontalDivider {
	}
	
	TD.main_in_labelHorizontalDivider {
		background-image: url("../../../spacer.gif");
		width: 1;
		height: 1;
		border: 0;
	}
	
	TD.main_in_valueHorizontalDivider {
		background-image: url("../../../tbl-divider-hor.gif");
		width: 3;
		height: 1;
		border: 0;
	}
	
	TD.main_in_submitButton {
		text-align: center;
		border-top: 1px solid #DEDEDE;
	}
	
	TD.main_in_labelVerticalDividerRight	 {
		background-image: url("../../../tbl-divider-ver.gif");
		background-repeat: repeat-y;
		width: 3;
		height: 1;
		border: 0;	
	}
	
	DIV.main_in_labelVerticalDividerRight {
		border: none;
		width: 2;
		height: 1;
		background-image: url("../../../spacer.gif");
	}	
	
/********** Create View: New Field Structural Classes ********/

TABLE.richtext_in {
	width: 100%;
	margin: 0px;
}

	TD.richtext_in_header {
		display: none;
		background-color: #DEDEDE;
		border-top: 1px solid #F2F2F2;
		padding: 1pt;
		padding-left: 2pt;
		font-weight: bold;
	}

	TD.richtext_in_controls {
		width: 1pt;
		background-color: lightyellow;
		padding: 0px 7px 7px 7px;
	}

		TABLE.richtext_in_control_row {
			margin: 3px 0px 0px 0px;
		}

			TD.richtext_in_control_seperator {
				padding-right: 3px;
			}

			TD.richtext_in_control {
				text-align: left;
				padding-right: 1px;
			}

				IMG.richtext_in_button_img {
					border-width: 0;
				}
	
	IFRAME.richtext_in {
		background: #fff;
	}

	TD.richtext_in_footer {
		display: none;
		border-top: 5pt solid #DEDEDE;
	}

/***********************************************************/
/*************** INFO VIEW: Structural Classes *************/
/***********************************************************/

TABLE.info_main {
	width: 100%;
}

	TD.info_header {
		padding: 0pt 0pt 3pt 0pt;
	}

		SPAN.info_header_heading {
			font-weight: bold;
		}

		SPAN.info_header_instruction {
		}

	TD.info_body {
		background-color: #F2F2F2;
		border-top: 1px solid #999999;
		border-bottom: 1px solid #999999;
		padding: 15pt 50pt 5pt 50pt;
	}

		UL.info_body_list {
			margin: 0pt 0pt 0pt 15pt;
			padding: 0pt;
			text-align: left;
			list-style-image: url("../current.gif");
		}

			LI.info_body_item {
				margin: 0pt 0pt 10pt 0pt;
				padding: 0pt;
			}

				SPAN.info_body_paragraph {
				}

					SPAN.info_body_rating {
						font-weight: bold;
					}

					SPAN.info_body_journalname {
						font-weight: bold;
					}

	TD.info_footer {
		padding: 10pt 0pt 0pt 0pt;
		text-align: center;
	}

		INPUT.info_footer_button {
			margin: 0pt 3pt 0pt 0pt;
		}

/************************************************************/
/********************** TEMPLATE CLASSES ********************/
/************************************************************/

/*************************************************************/
/**************** BROWSE VIEW: Template Classes **************/
/*************************************************************/

/********** Browse View: New Field Template Classes **********/

.newfield_richtext {
}

/********** Browse View: Container Template Classes **********/

.container_otname {
	font-weight: bold;
	font-size: 105%
}

.container_otname_label {
}

.container_otcomment {
}

.container_otcomment_label {
}

.container_otcreatedby {
}

.container_otcreatedby_label {
}

.container_otcreatedate {
}

.container_otcreatedate_label {
}

.container_otratable {
}

.container_otratable_label {
}

.container_otdiscussable {
}

.container_otdiscussable_label {
}

.container_otsubscribable {
}

.container_otsubscribable_label {
}

/********** Browse View: Entry Template Classes **********/

.entry_otname {
	font-weight: bold;
	font-size: 105%;
}

.entry_otname_label {
}

.entry_otcreatedby {
}

.entry_otcreatedby_label {
}

.entry_otcreatedate {
}

.entry_otcreatedate_label {
}

.entry_otratable {
}

.entry_otratable_label {
	text-transform: lowercase;
}

.entry_otdiscussable {
}

.entry_otdiscussable_label {
	text-transform: lowercase;
}

.entry_otpublish {
	color: red;
}

.entry_otpublish_label {
}

/*************************************************************/
/**************** CREATE VIEW: Template Classes **************/
/*************************************************************/

/********** Create View: New Field Template Classes **********/

.newfield_richtext_in {
}

.newfield_richtext_in_label {
}

.newfield_text_in {
}

.newfield_text_in_label {
}

.newfield_textarea_in {
	width: 100%;
	height: 75px;
}

.newfield_textarea_in_label {
}

/********** Create View: System Field Template Classes **********/

.system_otname_in {
	width: 250pt;
	margin-left: 1pt;
}

	.system_otname_textarea_in {
		width: 100%;
		height: 75px;
	}

.system_otname_in_label {
}

.system_otcomment_textarea_in {
	width: 250pt;
	height: 65pt;
	margin-left: 1pt;
}
	
.system_otcomment_in_label {
}

.system_otpermission_in {
	margin: 3pt;
	margin-left: 1pt;
}

.system_otpermission_in_label {
}

.system_otdiscussable_in {
}

.system_otdiscussable_in_label {
}

.system_otratable_in {
}

.system_otratable_in_label {
}

.system_otsubscribable_in {
}

.system_otsubscribable_in_label {
}

.system_otshowentry_in {
	width: 20pt;
	margin-left: 2pt;
	vertical-align: top;
}

.system_otshowentry_sel {
	vertical-align:	top;
}

.system_otshowentry_in_label {
}

.system_otorderby_in {
	margin-left: 2pt;
}

.system_otorderby_in_label {
}

.system_otlink_in {
	margin-left: 2pt;
	width: 400px;
}

.system_otlink_label_in {
	margin-left: 2pt;
	width: 80px;
}

.system_otlink_in_label {
}

.system_ottheme_in {
	margin-left: 2pt;
}

.system_ottheme_in_label {
}

.system_otattachment_in {
	width: 200pt;
	margin-left: 1pt;
}

.system_otattachment_in_label {
}

.system_otfileattachment_in {
}

.system_otfileattachment_in_label {
}

.system_otpublish_in {
}

.system_otpublish_in_label {
}


/******************************** Comments ********************************/

TD.Comments {
	width: 100%;
}

TABLE.CommentList {
	width: 100%;
	margin: 5pt 0pt 0pt 0pt;
}

TD.CommentList {
}

TABLE.CommentBox {
	width: 100%;
	border: 1px solid black;
	border-right: 1px solid black;
	padding: 10pt;
}

TD.CommentBox {
	width: 100%;
	padding: 1px;
	margin: 0px;
	padding: 3pt;
}

TABLE.CommentHL {
	width: 100%;
	padding: 10pt;
	margin: 0pt;
	background-color: #ffcc99;
	border-bottom: 1px solid black;
	font-weight: bold;
}

TD.CommentHL {
	width: 100%;
	padding: 3pt;
}

TABLE.CommentBody {
	width: 100%;
	padding: 3px;
	background-color: #ffffff;
}

TD.CommentBody {
	width: 100%;
	vertical-align: top;
	text-align: left;
	background-color: #ffffff;
	padding: 3pt;
}

/******************************** Inline Comments ********************************/

TABLE.CommentPreview {
	background-color: #f5f5f5;
}

SPAN.CommentPreview {
	color: gray;
}

TD.CommentSeparator {
	width: 100%;
	border-top: 1px solid #DEDEDE;
	padding: 0px;
	border-collapse: collapse;
}
